{
  "openapi": "3.1.0",
  "info": {
    "title": "Hostero API",
    "version": "mvp",
    "description": "Local DevKit fixture for user-facing game server operations."
  },
  "servers": [
    {
      "url": "https://api.hostero.gg/v1"
    }
  ],
  "paths": {
    "/servers": {
      "get": {
        "operationId": "listGameServers",
        "summary": "List accessible game servers",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-hostero-required-scopes": [
          "servers:read"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accessible game servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedGameServers"
                }
              }
            }
          }
        }
      }
    },
    "/servers/overview": {
      "get": {
        "operationId": "getServersOverview",
        "summary": "Get game server overview",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-hostero-required-scopes": [
          "servers:read"
        ],
        "responses": {
          "200": {
            "description": "Server status counts and compact server rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServersOverview"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/power/restart": {
      "post": {
        "operationId": "restartGameServer",
        "summary": "Restart a game server",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "x-hostero-required-scopes": [
          "servers:power"
        ],
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Server restart was requested"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "hst_<key>",
        "description": "Hostero panel API key."
      }
    },
    "schemas": {
      "PaginatedGameServers": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit",
          "offset",
          "has_next"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameServerListItem"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "has_next": {
            "type": "boolean"
          }
        }
      },
      "GameServerListItem": {
        "type": "object",
        "required": [
          "id",
          "short_id",
          "name",
          "status",
          "expires_at",
          "scheduled_delete_at",
          "node_name",
          "game_name",
          "primary_allocation",
          "limits",
          "permissions"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "short_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/GameServerStatus"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "scheduled_delete_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "node_name": {
            "type": "string"
          },
          "game_name": {
            "type": "string"
          },
          "primary_allocation": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PrimaryAllocation"
              },
              {
                "type": "null"
              }
            ]
          },
          "limits": {
            "$ref": "#/components/schemas/GameServerLimits"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PrimaryAllocation": {
        "type": "object",
        "required": [
          "ip",
          "port",
          "protocol"
        ],
        "properties": {
          "ip": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "tcp",
              "udp",
              "both"
            ]
          }
        }
      },
      "GameServerLimits": {
        "type": "object",
        "required": [
          "memory_mb",
          "disk_mb",
          "cpu",
          "max_allocations",
          "max_databases",
          "max_backups"
        ],
        "properties": {
          "memory_mb": {
            "type": "integer"
          },
          "disk_mb": {
            "type": "integer"
          },
          "cpu": {
            "type": "integer"
          },
          "max_allocations": {
            "type": "integer"
          },
          "max_databases": {
            "type": "integer"
          },
          "max_backups": {
            "type": "integer"
          }
        }
      },
      "ServersOverview": {
        "type": "object",
        "required": [
          "running",
          "stopped",
          "total",
          "items"
        ],
        "properties": {
          "running": {
            "type": "integer"
          },
          "stopped": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServerOverviewItem"
            }
          }
        }
      },
      "ServerOverviewItem": {
        "type": "object",
        "required": [
          "id",
          "short_id",
          "name",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "short_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/GameServerStatus"
          }
        }
      },
      "GameServerStatus": {
        "type": "string",
        "enum": [
          "installing",
          "install_failed",
          "installed",
          "starting",
          "running",
          "stopping",
          "restoring",
          "stopped",
          "suspended",
          "error"
        ]
      }
    }
  }
}
